$colour-light-blue  :#C7F7FF;
$colour-med-blue    :#89C0C9;
$colour-dark-blue   :#3a5E63;
$colour-light-brown :#C9A689;
$colour-dark-brown  :#7C593C;
$colour-light-grey  :#d4d4d4;
$colour-dark-grey   :#222;
$colour-white       :#fff;
$font-sans-serif    :'Josefin Sans', ‘Trebuchet MS’, Helvetica, sans-serif;
$font-serif         :Cardo, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;